header {
}

header .container {
  position: relative;
  display: flex;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding: 0rem 4rem;
  position: relative;

  max-width: 1440px;
  color: #001633;
  margin: 0 auto;
}

header h1 {
  font-weight: 400;
  font-size: 2.5rem;
  padding-bottom: 0.4rem;
}

.header-nav {
  display: flex;
  /* gap: 3rem; */
  margin-left: 6rem;
  /* border: 1px solid blue; */
  height: 100%;
}

.header-nav li {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  /* height: 30px; */
  width: 8rem;
  height: 100%;
  cursor: pointer;
  /* border: 1px solid red; */
}

.header-nav li img {
  opacity: 0.3;
}

.header-rs {
  display: flex;
  margin-left: auto;
  gap: 3rem;
  align-items: center;
  margin-top: 4px;
}

.header-rs a {
  border-bottom: 2px solid #01295f;
  padding: 0.3rem 0;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.header-rs button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  background-color: #01295f;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.active-tab {
  border-bottom: 3px solid #01295f;
  width: 60px;
}

/* MEDIA QUERIES */
@media (max-width: 850px) {
  header .container {
    max-width: 100vw;
  }

  header h1 {
    font-size: 2rem;
  }

  .header-nav,
  .header-rs button {
    display: none;
  }
}
