.chatbot-widget-container {
  z-index: 100;
  height: 0px;
  width: 350px;
  opacity: 0;
  transition: 0.4s ease;
  position: fixed;
  bottom: 80px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
}

.chatbot-widget-container.active {
  height: 500px;
  opacity: 100;
  transition: 0.4s ease;
  width: 350px;
}

.chatbot-widget {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* height: 500px; */
  /* width: 330px; */
  height: inherit;
  width: inherit;
  border-radius: 8px;
  position: relative;
  background-color: #fff;
}

.chatbot-widget header {
  border-bottom: 1px solid #fff;
  overflow: none;
  width: 100.1%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: linear-gradient(to right, rgb(14, 127, 233), rgb(167, 202, 255));

  height: 70px;
}

.chatbot-widget section {
  height: 65%;
  color: #000;
  margin: 1rem;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  gap: 0;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.chatbot-widget section p {
  margin: 3px;
  padding: 8px 12px;
  font-size: 12px;
}

.chatbot-widget section p.outgoing {
  text-align: right;
  background-color: #effdff;
}

.chatbot-widget section p.incoming {
  text-align: left;
  background-color: rgb(240, 240, 240);
}

.chatbot-widget input {
  height: 11%;
  width: 75%;
  border: none;
}

/* .chatbot-widget button {
  position: absolute;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  right: -6%;
  bottom: 4%;
} */

.open-chat {
  background-color: rgb(66, 66, 66);
  box-shadow: rgba(155, 156, 157, 0.3) 0px 1px 2px 1px, rgba(189, 189, 189, 0.15) 0px 1px 3px 1px;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  margin-left: auto;
  margin-top: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  position: fixed;
  bottom: 10px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
  z-index: 100;
  border: none;
}

.fa-solid.fa-comment-dots {
  font-size: 2rem;
  color: #fff;
}

.open-chat:hover {
  transform: scale(1.2);
}
