@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800&family=Spectral:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding: 0rem 4rem;
  position: relative;

  color: #001633;
}

header h1 {
  font-weight: 400;
  font-size: 2.4rem;
}

.header-nav {
  display: flex;
  gap: 3rem;
  margin-left: 6rem;
}

.header-nav li {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 30px;
}

.header-nav li img {
  opacity: 0.3;
}

.header-rs {
  display: flex;
  margin-left: auto;
  gap: 3rem;
  align-items: center;
}

.header-rs p {
  border-bottom: 2px solid #01295f;
  padding: 0.3rem 0;
}

.header-rs button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  background-color: #01295f;
  color: #fff;
}

.active-tab {
  border-bottom: 3px solid #01295f;
  width: 60px;
}

/* Main */
main {
  height: 740px;
  display: flex;
  align-items: center;
  gap: 4rem;
}

main .img-div {
  margin-left: 10rem;
}

.text-div {
  height: 600px;
  width: 36.8%;
  margin-top: 3rem;
  animation: 0.7s ease-out 0s 1 slideInRight;
}

.text-div h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  color: #01295f;
}

.text-div p {
  margin-top: 2.6rem;
  line-height: 1.5;
  font-weight: 300;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-20%);
    opacity: 30%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(20%);
    opacity: 30%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

main div img {
  height: 600px;
  width: 100%;
  box-shadow: 0px 0px 4px 2px rgba(209, 209, 209, 0.728);
  animation: 0.7s ease-out 0s 1 slideInLeft;
}

.main-input-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.main-input-form input {
  height: 3.4rem;
  width: 22rem;
  border: none;
  background-color: #f1f1f1;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  color: #9a9a9a;
  font-weight: 200;
}

.main-input-form input:focus {
  font-size: 1.2rem;
  outline: none;
  border: 3px solid #8fb8ed;
}

.main-input-form button {
  padding: 1.1rem 1.8rem;
  background-color: #8fb8ed;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  color: #01295f;
}

.text-div p:nth-child(3) {
  font-weight: 300;
  font-size: 14px;
}

.text-div h5 {
  font-size: 12px;
  margin-top: 1rem;
  font-weight: 200;
}

/* Hero */
.hero {
  height: 1100px;
  background-color: #ebf2fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero h2 {
  font-size: 3.6rem;
  color: #01295f;
}

.features-text {
  font-weight: 500;
  padding-top: 6.2rem;
}

.hero h2:nth-child(2) {
  font-weight: 100;
  padding-top: 0.6rem;
}

.hero button {
  border: none;
  margin-top: 3rem;
  padding: 1.3rem 1.8rem;
  border-radius: 0.4rem;
  background-color: #8fb8ed;
  font-size: 17px;
  color: #001633;
}

.subscription-length {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 26px;
  width: 13rem;
  height: 2.5rem;
  /* padding: 0.4rem 1rem; */
  background-color: #fff;
  position: absolute;
  bottom: 52%;
  right: 12%;
  gap: 0.3rem;
}

.subscription-length p {
  font-size: 11px;
  font-weight: 300;
}

.active {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 0.4rem 0.5rem;
  background-color: #01295f;
  color: #fff;
}

.inactive {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.4rem 0.5rem;
  background-color: transparent;
}

/* Cards */
.cards {
  height: 60rem;
  width: 83%;
  display: flex;
  justify-content: space-around;

  z-index: 1;
  background-color: transparent;
  position: absolute;
  bottom: -38%;
  /* border: 1px solid red; */
}

.card {
  border: 1px solid #dfdfdf;
  width: 23.5%;
  height: 90%;
  background-color: #fff;
  padding: 3rem 2rem;
  border-top: 8px solid #01295f;
}

.card h2 {
  font-weight: 100;
  font-size: 2.2rem;
}

.card h3 {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 0.4rem;
  /* border: 1px solid red; */
  height: 5rem;
}

.price {
  font-weight: 200;
  font-size: 3rem;
  padding-top: 1.4rem;
}

.price span {
  font-size: 1.5rem;
}

.card p {
  font-size: 12px;
  padding-top: 0.5rem;
}

.card-border {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.5px solid #dfdfdf;
}

.card-info {
}

.card-info div {
  margin-bottom: 0.8rem;
  display: flex;
}

.card-info li {
  font-weight: 100;
}

.card-info div:first-child {
  margin-top: 1rem;
}

.fa-circle-check {
  color: #0fa3b1;
  margin-right: 1rem;
}

/* Business */
.business-plan {
  display: flex;
  justify-content: center;
  height: 1100px;
  width: 100%;
  padding-top: 28rem;
  gap: 8rem;

  position: relative;
}
/* 
.levels {
  position: absolute;
  top: 33%;

  display: flex;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
} */

/* .full {
  background-color: #0fa3b1;
}

.level {
  border: 1px solid #0fa3b1;
  border-radius: 50%;
  height: 14px;
  width: 14px;
} */

.business-left {
  border: 1px solid #dfdfdf;
  border-top: 8px solid #01295f;
  height: 70%;
  width: 30%;

  padding: 0rem 2rem;
  color: #01295f;
}

.business-left h2 {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 2.2rem;
}

.business-left h3 {
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 1.2rem;
  /* height: 5rem; */
}

.business-left div {
  font-size: 6rem;
  font-weight: 300;
  margin-top: 2rem;
}

.business-left div span {
  font-size: 1.5rem;
}

.business-left p {
  font-size: 1.1rem;
  margin-top: 0.9rem;
}

.business-right {
  /* border: 1px solid #dfdfdf; */
  height: 85%;
  width: 30%;
  margin-top: -2.2rem;
  color: #01295f;
}

.business-right h2 {
  font-size: 2.3rem;
  font-weight: 100;
}

.business-right h3 {
  font-size: 21px;
  font-weight: 300;
  margin-top: 1.1rem;
}

.business-right ul {
  margin-top: 2.1rem;
  font-size: 19px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.business-right ul div {
  display: flex;
}

.business-right ul div li {
  line-height: 1.7;
}

.business-right ul div i {
  margin-top: 5px;
}

.business-right button {
  border: none;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 1.3rem 1.8rem;
  border-radius: 0.4rem;
  background-color: #8fb8ed;
  margin-top: 2.6rem;
}

.business-right p {
  margin-top: 2rem;
  text-decoration: underline;
}

.business-plan-terms {
  position: absolute;
  bottom: 10%;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.6;
}

.compare {
  position: absolute;
  bottom: 4.5%;
  border-bottom: 2px solid #01295f;
  padding-bottom: 2px;
  cursor: pointer;
}

/* FAQS */
.faqs {
  background-color: #ebf2fa;
  height: 890px;
  margin: 0 auto;
  width: 100%;
}

.faqs-top-spacing {
  height: 6rem;
}

.faqs-div {
  width: 60%;
  margin: 0 auto;
}

.faqs h2 {
  font-size: 3.2rem;
  font-weight: 200;
  text-align: center;
  /* position: absolute; */
  /* margin-bottom: 2.5rem; */
}

@keyframes openFaqItem {
  0% {
    transform: translateY(20%);
    opacity: 30%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.faqs-item {
  border-bottom: 1px solid #000;
  width: 800px;
}

.faqs-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.4rem;
}

.faqs-item-top p {
  font-size: 1.9rem;
  font-weight: 100;
  cursor: pointer;
}

.faqs-item-top span {
  font-size: 2.5rem;
  font-weight: 200;
  cursor: pointer;
}

.faqs-item-bottom {
  margin-bottom: 3rem;
  font-size: 18px;
  font-weight: 300;
  animation: 0.4s ease-out 0s 1 openFaqItem;
}

/* Reviews */
.reviews {
  height: 600px;
  background-color: #0fa3b1;
  width: 100%;
}
