.dashboard-tasks {
  height: 58%;
  padding: 0.9rem 2rem 1rem 2rem;
  border-bottom: 1px solid rgb(225, 225, 225);
  border-top: 1px solid rgb(225, 225, 225);
  /* overflow: scroll; */
}

/* TASKS COLUMN NAMES */
.dashboard-tasks-table {
  width: 100%;
  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
  height: 80%;
}

.db-tasks-column-names {
  background-color: white;
  display: flex;
  align-items: center;
  min-height: 50px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  justify-content: space-around;
  color: var(--main-text-color);
  /* margin-right: 3rem; */
}

.db-tasks-column-names th {
  width: 30%;
}

td {
  width: 30%;
}

.db-task-cells-container {
  overflow: scroll;
}

.db-tasks-column-cells {
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: space-between;
  text-align: center;
  color: #3f4d68;
  font-weight: 500;
}

.db-tasks-column-names input {
  /* margin-right: 1rem; */
}

.db-tasks-column-names p:nth-child(2) {
  /* border: 1px solid red; */
}
